<h2>Reset password</h2>

<%= form_with model: @user,url: password_reset_edit_path(token: params[:token]) do |form| %>
	<%= form.password_field :password %>
	<%= form.password_field :password_confirmation %>
	<%= form.submit "reset" %>
<% end %>
